
@model MyFace.Models.ViewModels.LoginViewModel

@section Styles {
    <link href="@Url.Content("~/Content/signup.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = "Login :: Galaxy";
}


@using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="limited-width-container">
    <h1>Login to Galaxy</h1>
    <div class="form-horizontal">
        <div class="form-row">
            @Html.LabelFor(model => model.Username)
            @Html.EditorFor(model => model.Username)
        </div>
        <div class="form-row">
            @Html.LabelFor(model => model.Password)
            @Html.EditorFor(model => model.Password)
            </div>
        <input type="submit" value="Login" class="btn btn-default" />
    </div>
</div>
}
