@model MyFace.Models.ViewModels.WallViewModel

@{
    ViewBag.Title = Model.fullname + "'s Wall :: Galaxy";
}

@section Styles {
    <link href="@Url.Content("~/Content/wall.css")" rel="stylesheet" type="text/css" />
}

<div class="limited-width-container">
    <h1>@Model.fullname's wall</h1>

    @foreach (var post in Model.Posts)
    {
        <div class="post-sender">
            @Html.ActionLink($"{@post.Sender}", "Index", "Wall", new { username = Model.OwnerUsername }, new { @class = "user-link" })
            says:
        </div>
        @post.Content

        using (Html.BeginForm("DeleteWall", "Wall", FormMethod.Post))
        {
            if (post.Sender == Model.LoggedInUser)
            {
                <input type="submit" value="Delete" class="btn btn-default" />
                <input type="hidden" name="id" value="@post.id" />
                <input type="hidden" name="OwnerUsername" value="@Model.OwnerUsername" />
                <input type="hidden" name="fullname" value="@Model.fullname" />
            }
        }
    }

    <h1>Write something on @Model.fullname's wall!</h1>

    @using (Html.BeginForm("NewWall", "Wall", FormMethod.Post))
    {
<div>
    @Html.HiddenFor(model => model.OwnerUsername)
    @Html.EditorFor(model => model.NewPost)
    <input type="hidden" name="fullname" value="@Model.fullname" />
    <input type="submit" value="Post!" />
</div>
    }
</div>
